/* Custom Scrollbar for .Admin_ProductListContent */
::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
    height: 5px; /* Height of the horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background color of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 10px; /* Rounded corners for the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle when hovered */
}

.OrderTrackingContainer {
    width: 100%;
    height: 100%;
    margin: 4em 0;
}

.OrderTrackingContent {
    width: 90%;
    margin: 0 auto;
}

.OrderTracking_Table {
    width: 100%;
}

.OrderTrackingTitle {
    margin: 0.5em 0;
}

.OrderTrackingController {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
}

.OrderTrackingButtonController {
    margin: 0.5em 0;
}

.OrderTrackingSearchCont {
    display: flex;
    border: 1px solid black;
    border-radius: 0.5em;
    width: 30%;
}

.OrderTrackingSearchCont button {
    margin: 0.5em;
}

.OrderTrackingSearchCont svg,
.OrderTrackingButton svg {
    margin: auto 0.5em;
}

.OrderTrackingButton {
    display: flex;
    border-radius: 0.5em;
    background-color: rgb(190, 190, 190);
    padding: 0.5em 1em;
    font-weight: bold;
}

.OrderTrackingSearchCont input {
    border: 0px solid transparent;
    border-radius: 0.5em;
    width: 100%;
}

.OrderTrackingTitle h2 {
    font-size: 1.65em;
    font-weight: bold;
}

.OrderTracking_Table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.OrderTracking_Table tr td {
    padding: 2em 0;
    text-align: center;
}

.OrderTracking_Table tr td:nth-child(8) div {
    padding: 0.35em;
    border-radius: 0.5em;
    color: white;
}

.Pending {
    background-color: orange;
}

.Success {
    background-color: green;
}

.Failed {
    background-color: red;
}
