.HeaderTemplate {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 1em 0;
}

.ContFull {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Selected { 
    background-color: white;
    color: black;
    font-weight: bold;
    padding: .5em 1em !important;
    border-radius: 1em;
}

.LogoComp {
    width: 15%;
    margin: 0 1em;
}

.ListNavbar {
    display: flex;
    margin: auto 0;
}

.ListNavbar li {
    padding: 0 1.5em;
    align-self: center;
}

.FooterTemplate {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-around;
    padding: 2em;
}

.Address {
    width: 20%;
}